.slider-content p {
    color: #000;
}
.red-text-small{
    font-size: 18px;
    color: #dd0012;
    font-weight: 600;
    font-style: italic;
    text-transform: none;
}
.i-action {
    background: url(../../img/content/remont-glushitelya/action.png) 0 0 no-repeat;
    width: 193px;
    height: 193px;
    position: relative;
    top: -81px;
    margin-bottom: -115px;
}


.red_list{
    overflow: auto;
    margin-bottom: 50px;
}
.red_list li{
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding-left: 32px; 
    position: relative;
}
.red_list li:before{
    content: "";
    height: 6px;
    width: 6px;
    background: #dd0012;
    position: absolute;
    left: 0;
    border-radius: 100%;
    top: 8px;
}
.red_list li a{
    color: #dd0012;
    font-size: 16px;
    text-decoration: underline;
}
.red_list li a:hover{text-decoration: none;}
.free-block {
    margin: 47px 0 60px;
}
@media (max-width:1024px){
    .i-action {
        display: none;
    }
}
@media (max-width:760px){
    .slider-content p {
        color: #000;
        font-size: 34px;
        line-height: 37px;
    }
}