/* Спецификация */
body {
    font-family: "PT Sans", sans-serif;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: black;
}
h2 {
    text-align: center;
}
h3 {
    font-weight: 400;
}
.title {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    width: 780px;
    margin: 0 auto;
}
.title__first {
    font-size: 32px;
}
.title__text {
    font-size: 20px;

}
/* Первый экран */
.header {
    background-color: #febd00;
    color: #010101;
    padding-top: 58px;
    padding-bottom: 105px;
}
.menu {
    margin-top: 10px;
}
.menu__item {
    margin: 0 57px;
}
.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #010101;
    text-decoration: none;
}

.offer {
    margin-top: 117px;
}
.offer__title {
    font-size: 32px;
    margin-bottom: 6px;
    margin-bottom: 15px;
}
.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}
.offer__text {
    font-size: 16px;
    margin-top: 15px;
    color: #555;
    width: 400px;
}
.icons {

}
.icons__item {
    margin-right: 30px;
}
.icons__item a {
    color: black;
    font-size: 42px;
    transition: all 0.5s ease;
}
.icons__item a:hover {
    text-decoration: none;
    color: #536;
}
.ipad {
    display: block;
    margin: 60px auto 0;
}
/* Второй экран */
.feat {
    margin-bottom: 65px;
}
.feat__icon {
    font-size: 50px;
    margin-right: 37px;
    color: black;
}
.feat__text {
    color: #010101;
}
/* Третий экран */
.touch {
    background-color: #000;
    color: white;
    text-align: center;
}
.touch .title__first {
    color: #febd00;
}

.ff__input {
    background-color: #fff;
    font-size: 16px;
    font-family:  "PT Sans", sans-serif;
    border-radius: 5px;
    width: 80%;
    padding: 14px 23px;
    font-weight: 700;
    border: 0;
    outline: none;
}
.form__btn {
    font-family:  "PT Sans", sans-serif;
    background-color: #febd00;
    color: black;
    text-transform: uppercase;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 14px 0;
    cursor: pointer;
}
/* Футер */
.footer {
    background-color: #000;
    color: white;
    padding: 60px 0 94px;
}
.credits {
    width: 180px;
    text-align: center;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
/* Медиа-запросы */
@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 20px auto;
    }
    .title {
        width: auto;
    }
    .offer, .offer__intro {
        text-align: center;
    }
    .offer__text {
        margin: 10px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:last-child {
        margin-right: 0;
    }
    .ff__input {
        margin-right: 0px;
        width: 100%;
    }
    .form__btn {
        margin-top: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        margin-bottom: 10px;
        text-align: center;
    }
}


