.slider-content p {
    color: #000;
}

.drop {
    width: 185px;
    height: 138px;
    background: url(../../img/content/remont-zamena-scepleniya/drop.png) 0 0 no-repeat;
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin: auto;
}

.services-block img {
    width: 65px;
}

.wrap-services:first-child {
    margin: 31px -15px 0px;
}
.wrap-services:last-child {
    margin: 0px -15px 40px;
}
.red_title{
    font-weight: bold;
    font-size: 18px;
    color: #dd0012;
    margin: 20px 0;
}
