.slider-content p {
    color: #000;
}

.red-block-top {
    background: #dd0012;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    width: 130px;
    height: 130px;
    line-height: 1;
    text-transform: none;
    padding-top: 27px;
    position: absolute;
    top: 50px;
    left: 15%;
}
.red-block-top span {
    font-size: 32px;
}

.drop {
    width: 185px;
    height: 138px;
    background: url(../../img/content/remont-zamena-scepleniya/drop.png) 0 0 no-repeat;
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin: auto;
}

.services-block img {
    width: 65px;
}

.wrap-services:first-child {
    margin: 31px -15px 0px;
}
.wrap-services:last-child {
    margin: 0px -15px 40px;
}
.red_title{
    font-weight: bold;
    font-size: 18px;
    color: #dd0012;
    margin: 20px 0;
}
