.red-block {
    padding: 11px 100px;
}
.slider-content p {
    color: #000;
}

.red-block-top {
    background: #dd0012;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    width: 130px;
    height: 130px;
    line-height: 1;
    text-transform: none;
    padding-top: 27px;
    position: absolute;
    top: 50px;
    left: 15%;
}
.red-block-top span {
    font-size: 32px;
}

.free-text {
    margin-left: 0;
    font-style: normal;
}
.i-action {
    background: url(../../img/content/antikoroz-obrabotca-kyzova/action.png) center no-repeat;
    width: 173px;
    height: 173px;
    position: relative;
    top: -81px;
    margin-bottom: -115px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.free-text:last-child {
    font-style: italic;
}
td {
    font-size: 14px;
    font-weight: normal !important;
}
td span {
    font-weight: bold;
    font-size: 16px;
}
.price-table.table > tbody > tr > th {
    border-bottom: none;
}
.title__comparison {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    
}
.title__comparison.red::before {
    content: "";
    width: 54px;
    height: 10px;
    position: absolute;
    background: url(../../img/content/protochka-tormoznyh-diskov/arrow.png) 0 0 no-repeat;
    left: -26px;
    top: 8px;
}
.title__comparison.red {
    color: #dd0012;
    position: relative;
}

@media (max-width:1200px){
    .red-block-top {position: static;}
}

@media (max-width:1024px){
    .i-action {
        display: none;
    }
}
@media (max-width:760px){
    .slider-content p {
        font-size: 34px;
        line-height: 37px;
    }
}
@media (max-width:767px){
    .title__comparison.red{
        margin-top: 30px;
    }
    .title__comparison.red:before{
        display: none;
    }
    .red_list li {
        width: 100%;
    }
}






.img__comparison img {
    max-width: 100%;
}
























