.slider-content p {
    color: #000;
}

.drop {
    width: 287px;
    height: 162px;
    background: url(../../img/content/contacts/header_icon.png) 0 0 no-repeat;
    position: absolute;
    bottom: -72px;
    left: 0;
    right: 0;
    margin: auto;
}

.services-block img {
    width: 65px;
}
img{
    max-width: 100%;
}
.wrap-services:first-child {
    margin: 31px -15px 0px;
}
.wrap-services:last-child {
    margin: 0px -15px 40px;
}
.red_title{
    font-weight: bold;
    font-size: 18px;
    color: #dd0012;
    margin: 20px 0;
}
.small_title_in_header{
    font-size: 14px;
}
.phone_in_header{
    padding: 11px 88px;
}
.phone_in_header img{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
}

.contacts{
    margin-top: 130px;
}
.box-contact{
    margin-bottom: 50px;
}
.box-contact h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-top: 0;
    
}
.box-contact .contact-grafic{
    padding-left:25px;
    margin-bottom: 10px;
    position: relative;
}
.box-contact .contact-grafic:before{
    content: "";
    position: absolute;
    left: 0;
    top:4px;
    background: url(../../img/content/contacts/grafik_icon.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}
.box-contact .location-grafic{
    padding-left:25px;
    margin-bottom: 10px;
    position: relative;
}
.box-contact .location-grafic:before{
    content: "";
    position: absolute;
    left: 0;
    top:4px;
    background: url(../../img/content/contacts/location111.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}
.box-contact .contact-phones{
    padding-left:25px;
    position: relative;
}
.box-contact .contact-phones:before{
    content: "";
    position: absolute;
    left: 0;
    top:6px;
    background: url(../../img/content/contacts/phone_icon.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
}
.box-contact .contact-phones a{
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.contacts_buttons{
    margin-top: 30px;
    margin-left: 15px; 
}
.instruction{
    text-align: center;
}
.instruction span{
    font-size: 18px;
    color: #dd0012;
}
.instruction small{
    font-size: 18px;
    position: relative;
    color: #000000;
    font-weight: bold; 
}
.instruction small:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #dd0012;
    bottom: 0;
}
.instruction h4{
    font-size: 18px;
    color: #000000;
    font-weight: bold;   
    margin-bottom: 25px;
}
.instruction p{
    font-size: 16px;
    color: #666666;
}

@media (max-width:760px){
    .phone_in_header {
        padding: 11px 46px;
    }
    .contacts_buttons {
        margin-left: -15px;
    }
}