.slider-content p {
    color: #000;
}

.home-slider_top .slider-content img {
    margin: 0 auto 20px;
    opacity: 0;
}
.white-block {
    width: 460px;
    background: #fff;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
    color: #dd0012;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto 50px;
}
.white-block span {
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
    display: inline-block;
}

.home-slider_top .btn-blue {
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0.3px;
    width: 360px;
    height: 80px;
    line-height: 1.1;
    padding: 11px 0 0;
}
.home-slider_top .btn-blue span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.home-slider_top .btn-red {
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0.3px;
    width: 505px;
    height: 80px;
    line-height: 1.1;
    padding: 11px 0 0;
    background-image: none;
}
.home-slider_top .btn-red::before {left: -31%;}
.home-slider_top .btn-red span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}
.home-slider_top .btn-red b {
    height: 100%;
    float: left;
    font-size: 44px;
    padding-left: 20px;
}

.wrap-home-slider header {
    padding-top: 0;
}
.block_top_header {
    height: 70px;
    background: #1A4572;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}

.block_top_header .name {
    font-size: 47px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    float: left;
    padding: 19px 0 0;
    letter-spacing: 3px;
    padding-right: 30px;
}
.block_top_header .arrow_block {
    display: inline-block;
    background: url("../../img/content/zapchasti_filtr/arrow_block.png") 0 -3px no-repeat;
    width: 275px;
    height: 92px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 9px;
    letter-spacing: 1.5px;
}
.btn-callback {
    font-size: 14px;
    font-weight: bold;
    float: right;
    width: 216px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 1px;
    padding-left: 25px;
    margin-top: 15px;
    background: transparent url("../../img/content/zapchasti_filtr/arrow.png") 15px center no-repeat;
}
.btn-callback:hover {
    background-color: #2D79E7;
}


address {
    padding-top: 0;
    margin-top: -5px;
}
address a {
    font-size: 16px;
    text-decoration: underline;
    text-decoration-style: dashed;
    position: relative;
}
address a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #2D79E7;
    border-left: 2px solid #2D79E7;
    transform: rotate(-45deg);
    position: absolute;
    right: -10px;
    top: 9px;
}
address a img {
    margin-left: -20px;
}
address span {
    display: block;
}
address a:hover {
    text-decoration: none;
}

.phone {
    text-align: left;
    padding-top: 0;
    width: auto;
    position: relative;
}
.phone .icon {
    width: auto;
    height: 37px;
    float: left;
    display: grid;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
}
.phone .tel {
    font-size: 42px;
    float: left;
    text-decoration: underline;
    text-decoration-style: dashed;
    margin: 3px 0 0 10px;
}
.phone .tel:hover {
    text-decoration: none;
}
.phone .icon a {
    color: #dd0012;
    margin: 0 10px;
    position: relative;
}
.phone .icon a:before {
    content: '';
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
    position: absolute;
    right: 7px;
    top: 1px;
}
.phone .icon a:hover {
    color: #3177EB;
}
.phone .icon a:hover:before {
    border-color: #3177EB;
}
.phone .icon span {
    color: #000;
    margin: 0 10px;
}

.callback .btn-callback {
    border: none;
    margin-top: 4px;
    background: #3376EB url("../../img/content/zapchasti_filtr/6.png") 15px center no-repeat;
}
.callback .btn-callback:hover {
    background: #dd0012;
}
.callback p {
    font-size: 16px;
    margin-bottom: 20px;
}


.block_phone_show {
    background: #fff;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    display: none;
}
.block_phone_show:after {
    content: '';
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -22px;
    left: 44%;
}
.block_phone_show .block_phone {
    border-bottom: 1px solid #3376EB;
    margin-bottom: 5px;
}
.block_phone_show .block_phone .name {
    font-size: 18px;
    margin-bottom: 5px;
}
.block_phone_show .block_phone a {
    display: block;
    font-size: 18px;
    padding-left: 25px;
    background: url("../../img/content/zapchasti_filtr/icon_mts.png") left center no-repeat;
}
.block_phone_show .block_phone a:nth-child(3) {
    background-image: url("../../img/content/zapchasti_filtr/icon_vel.png");
}
.block_phone_show .block_phone a span {
    color: #9E9E9E;
    font-size: 16px;
    padding-top: 1px;
}
.block_phone_show .block_phone a:hover {
    color: #dd0012;
}
.block_phone_show .block_phone .address {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}





.block_card {position: relative;}







.header__fixed_operators_contanier .phone {
    margin-top: 14px;
    float: right;
}
.block_phone_show_top {
    background: #fff;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    display: none;
}
.block_phone_show_top:after {
    content: '';
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -22px;
    left: 44%;
}
.block_phone_show_top .block_phone {
    border-bottom: 1px solid #3376EB;
    margin-bottom: 5px;
}
.block_phone_show_top .block_phone .name {
    font-size: 18px;
    margin-bottom: 5px;
}
.block_phone_show_top .block_phone a {
    display: block;
    font-size: 18px;
    padding-left: 25px;
    background: url("../../img/content/zapchasti_filtr/icon_mts.png") left center no-repeat;
}
.block_phone_show_top .block_phone a:nth-child(3) {
    background-image: url("../../img/content/zapchasti_filtr/icon_vel.png");
}
.block_phone_show_top .block_phone a span {
    color: #9E9E9E;
    font-size: 16px;
    padding-top: 1px;
}
.block_phone_show_top .block_phone a:hover {
    color: #dd0012;
}
.block_phone_show_top .block_phone .address {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}


















.card {
    top: -160px;
    right: 20px;
}
.clear {
    clear: both;
}




.block_yslygi {
    margin-bottom: 40px;
    display: flex;
}
.block_yslygi img {
    vertical-align: top;
    width: 65px;
    margin-right: 5px;
    height: 60px;
}
.block_yslygi .yslygi {
    display: inline-block;
    padding-top: 15px;
}
.block_yslygi .yslygi ul {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.block_yslygi .yslygi ul a {
    margin-bottom: 10px;
    color: #000;
    display: flex;
}
.block_yslygi .yslygi ul a span {
    margin-right: 5px;
}
.block_yslygi .yslygi ul a:hover {
    color: #dd0012;
    text-decoration: none;
}
.block_yslygi .yslygi ul li {
    padding-left: 7px;
    color: #dd0012;
    list-style: inside;
    font-weight: normal;
    padding: 1px 0 1px 7px;
}

.block_yslygi .yslygi ul li a {
    font-size: 16px;
    padding-left: 5px;
    text-decoration: underline;
    color: #dd0012;
    margin: 0;
    display: inline-block;
}










.content_open {
    background: rgba(255,255,255,0.9);
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #DFDFDF;
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    z-index: 15;
    padding: 40px 0;
    display: none;
    margin: 0px 16px;
}
.block_link .block_yslygi {
    display: inline-block;
    width: 24%;
    margin: auto;
}
.block_link .yslygi {
    margin: 0 auto;
    display: table;
}
.block_link ul a {
    font-size: 14px !important;
    margin-bottom: 0 !important;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.block_link ul li {
    position: relative;
    list-style: none !important;
    padding: 0 0 0 7px !important;
    line-height: 1;
}
.block_link ul li:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #dd0012;
    position: absolute;
    top: 12px;
    left: 0;
}

.block_link ul a span {
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: 2px auto;
    display: none;
}


.nav > li {
    position: static;
}
.nav > li > a {z-index: 100;}




.price-buttons {
    color: #000;
}







.block_banner {
    background: url("../../img/content/zapchasti_filtr/banner.jpg") center bottom no-repeat;
    margin: 30px 0 50px;
}
.block_banner_text {
    color: #fff;
    font-weight: bold;
    padding: 0px 0 60px 70px;
}
.block_banner_text img {
    margin: -13px auto 10px;
    display: block
}
.block_banner_text p {
    font-size: 24px;
    margin-bottom: 10px;
}
.block_banner_text .title-big {
    color: red;
    margin: 0;
    font-size: 57px;
}

.i-advantages-4 {
    background-image: url("../../img/content/zapchasti_filtr/icon.png");
    background-position: center bottom;
    width: 77px;
    height: 75px;
}










.right_top_header address {display: none;}

.right_top_header address a span {padding: 0; display: inline-block;}









@media (max-width:1600px){
    .img_header { position: static !important; width: auto !important;}
    
    
    
    
    
    
}





@media (max-width:1200px){
    .free-text {font-size: 22px;}
    
    
    .block_banner {background-size: contain;}
    .block_banner_text {padding: 0 0 47px 20px;}
    
    .form_vybor_avto .form-group p {right: 210px;}
    .form_vybor_avto .btn-blue {background-position-x: -50px;}
    
    .block_search_2 {margin-top: -26px;}
    
    .block_top_header .name {font-size: 33px; padding-right: 0;}
    
    address { width: 235px; margin-left: 373px;}
    .phone {margin-left: 30px;}
    address a img {margin-right: 9px;}
    address span {padding-left: 9px;}
    
    
    .header__fixed_address_contanier address {margin: 16px auto;}
    
    
    
}

@media (max-width:1024px){
        
    
      
}

@media screen and (max-width: 991px) {
    .card {display: none;}
    
    .block_clear .clear {display: none;}
    
    .block_yslygi {height: 180px;}
    
    .block_link ul a {line-height: 1; margin-bottom: 5px !important;}
    .block_link ul li a { margin-bottom: 0 !important;}
    .block_link .block_yslygi {height: 125px;}
    
    
    .block_shares .clear {display: none;}
    .block_shares .clear_1 {display: block;}
    
    .block_banner_text img {width: 70px; margin: -13px auto 0;}
    .block_banner_text p {font-size: 17px; margin: 0;}
    .block_banner_text .title-big {font-size: 37px; line-height: 1;}
    .block_banner_text {padding: 0 0 16px 20px;}
    
    .form_vybor_avto .form-group p span {display: none;}
    .form_vybor_avto .form-group p {right: 180px;}
    .form_vybor_avto input[type="text"]:first-child {padding-left: 180px;}
    .jq-selectbox__select {padding: 23px 15px;}
    .jq-selectbox__dropdown { padding-left: 15px;}
    
    .block_search_2 {margin-top: 0;}
    
    .block_top_header {height: auto;}
    .block_top_header .name {float: none; font-size: 40px; text-align: center; margin-bottom: 15px; padding-top: 10px;}
    .block_top_header a {margin-top: 20px;}
    
    .logo {margin-right: 0; margin-top: 5px;}
    .phone {margin-left: 0;}
    .phone span { display: inline-block;}
    address {margin-left: 209px; margin-top: 5px;}
    
    .slider-content {top: 295px;}
    .home-slider_top .btn-red, .home-slider_top .btn-blue {margin-bottom: 15px;}
    
    .header__fixed_logo_contanier .logo {margin-right: 8.5%;}
    .header__fixed_address_contanier address {margin-right: -30px;}
    
    
    .block_banner .banner_img {width: 75%;}
    
    
    
    
}



@media (min-width:768px){
    .review-slider { margin: 0 0px 159px;}
}

@media (max-width:768px){
    .free-text {
        float: none;
    }
    .free-block .free-text:nth-child(3) {
        margin-top: 0;
    }
    .services-2 .services-block {height: auto; padding: 20px 15px;}
    
    
    .review-slider { margin: 0 0px 159px;}
}

@media (max-width:767px){
    .title__comparison.red{
        margin-top: 30px;
    }
    .free-text {
        display: block;
        margin-left: 0;
    }
    
    
    
    .content_open {position: static; padding: 0; border: none; margin: 0;}
    .block_link .block_yslygi {width: 100%; margin: 0; height: auto;}
    .block_link .yslygi {display: block; padding: 0;}
    .block_link ul a {font-size: 16px !important; padding: 10px 25px; background: #dd0012; color: #fff !important; text-transform: uppercase; margin-bottom: 0 !important;}
    .block_link ul li a {font-size: 14px !important; display: block !important; text-decoration: none !important; padding: 5px 25px 5px 50px !important;}
    .block_link ul a:hover {background: #000; color: #fff; text-decoration: none !important;}
    .block_link ul li {padding: 0 !important; display: none;}
    .block_link ul li:after {background: #fff; left: 40px;}
    .content_open .container {padding: 0;}
    
    .block_link ul a span {display: block;}
    
    .block_banner { background-size: cover;}
    .block_banner_text { padding: 40px 0 30px; margin: 0 auto; display: table;}
    .banner_img { margin: 0 auto;}
    
    .block_vybor_avto_select {float: none; width: 100%; margin-bottom: 10px;}
    .form_vybor_avto input[type="text"] {width: 100% !important; float: none !important;}
    .form_vybor_avto .btn-blue {float: none; margin: 0 auto; width: 400px;}
    .form_vybor_avto .form-group p { right: auto; top: 23px; left: 15px;}
    
    address {margin-left: 20px; margin-top: 11px;}
    .phone {float: right;}
    .phone .icon a, .phone .icon span {margin-right: 0;}
    
    
    .home-slider_top .slider-content p {font-size: 30px; line-height: 1;}
    
    .right_top_header .icon img, .right_top_header .icon span {display: none;}
    .header__fixed_operators_contanier .tel {font-size: 18px; margin-left: 0; margin-top: 3px;}
    .header__fixed_operators_contanier .icon a {margin-top: 10px; padding-right: 20px;}
    .right_top_header address {display: inline; margin: 0;}
    .right_top_header { margin-top: 5px;}
    .right_top_header .phone {margin: 0; padding-left: 90px;}
    .right_top_header address a {padding-right: 20px;}
    .right_top_header address a:after {right: 8px;}
    
}








@media (max-width:712px){
    .header__fixed_operators_contanier {
        display: block;
        width: 65%;
    }
    
}





@media (max-width:570px){
    
    
    .block_link ul li a {text-align: left;}
    
    .block_search button::after {left: 15px;}
    
    .block_top_header .name { font-size: 30px;}
    .block_top_header .arrow_block {margin: 0 auto; float: none;}
    .block_top_header a { margin-top: 0; float: none; margin-bottom: 15px;}
    
    address {margin: 10px auto 0;}
    .phone { float: none; margin: 10px auto; display: table;}
    .callback {margin: 0 auto; display: table;}
    
    .home-slider_top .slider-content { top: 390px;}
    .white-block { width: 90%; font-size: 21px; margin: 10px auto 15px;}
    
    
}


@media (max-width:525px){
    .home-slider_top .slider-content { top: 435px;}
    .home-slider_top .slider-content img { margin: 0 auto 5px;}
    .home-slider_top .btn-red, .home-slider_top .btn-blue {font-size: 24px; height: 70px; width: 95%;}
    .home-slider_top .btn-red span, .home-slider_top .btn-blue span {font-size: 15px;}
    
    
}


@media (max-width:442px){
    
    .block_yslygi .yslygi ul li {padding: 1px 0 1px 5px;}
    
    .block_shares .btn_gray {width: 95%;}
    
    .block_banner_text img {float: none; margin: 0 auto 10px; display: table;}
    .block_banner_text p { font-size: 16px; padding-left: 0; text-align: center;}
    .block_banner_text .title-big { font-size: 35px; padding-left: 0;}
    
    
    .form_vybor_avto .btn-blue span {display: none;}
    .form_vybor_avto .btn-blue {width: 100%;}
    .form_vybor_avto .form-group p b {display: none;}
    .form_vybor_avto input[type="text"]:first-child { padding-left: 85px;}
    
    .block_search input, .block_search button {width: 100%;}
    .block_search button::after { left: 30%;}
    
    .block_top_header .name {line-height: 1;}
    
    .home-slider_top .btn-blue b {font-size: 25px; padding-left: 5px; padding-top: 8px;}
    
    .home-slider_top .slick-slide {min-height: 865px;}
    .img_header {position: absolute !important; width: 100% !important;}
    
    .right_top_header {margin-top: 5px;}
    .right_top_header address a span {display: none;}
    .right_top_header .phone .tel {display: none;}
    
    .right_top_header address {display: block; width: auto;}
    
    .block_phone_show_top {width: 255px; left: -100px;}
    .block_phone_show_top::after {left: auto; right: 20px;}
        
    .jq-selectbox {width: 100%; margin-bottom: 10px;}
    .form_vybor_avto .form-group p {top: 93px;}
    
    
    .header__fixed_operators_contanier {
        width: 54%;
    }
    
    
}


@media (max-width:525px){
    .home-slider_top .slider-content { top: 470px;}
    
    
}

@media (max-width:404px){
    
    
}









