

.drop {
    width: 185px;
    height: 138px;
    background: url(../../img/content/remont-starterov/header_icon.png) 0 0 no-repeat;
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin: auto;
}
.i-action {
    background: url(../../img/content/remont-starterov/action.png) 0 0 no-repeat;
    width: 115px;
    height: 193px;
    position: relative;
    top: -16px;
    left: 29px;
    margin-bottom: -115px;
}
.services-block img {
    width: 65px;
}

.wrap-services:first-child {
    margin: 31px -15px 0px;
}
.wrap-services:last-child {
    margin: 0px -15px 40px;
}
.red_title{
    font-weight: bold;
    font-size: 18px;
    color: #dd0012;
    margin: 20px 0;
}
.free-text{
    margin-top: -25px;
}
.free-text:first-child{
    margin-top: 2px;
}
.free-text:last-child{
    margin-left: 286px;
    margin-top: -58px;
}
.free-block {
    margin: 79px 0 50px;
}
@media (max-width:1024px){
    .i-action {
        display: none;
    }
    .free-text:first-child{
        margin-bottom: 20px;
    }
    .free-text:last-child{
        margin-left: 0px;
        margin-top: 0px;
    }
}