.contacts-and-map{overflow:hidden;}
.both_p{clear:both;}
#content .akc_block img{height:auto !important;}
.feedback-arbitrage input[type="text"]{margin-top:2px;}
.garant_img img{width:100% !important;height:auto !important;display:block;margin:0 auto;}
.o_kompanii_frame{min-height:415px;}
.o_kompanii_frame iframe{height:415px;}
#kontakt_maps #maps2{height:685px;}
#mechanic_works{display:inline-block;vertical-align:top;width:100%;}
div#zapravka-map{height:531px;}
.dspopup-modal{position:fixed !important;}
.object{height:700px;}
#form_ord_rep .form-container{overflow-y:auto;height:auto;}
.form_bottom_notice.no_margin{margin:0px;}
#content div img.web_kam{max-height:400px !important;width:50px !important;}
#form_ord_rep{top:30px;}
.form_bottom_notice{margin-bottom:19px;margin-top:5px;font-size:14px;}
.form_bottom_notice a{color:blue;}
.form_bottom_notice a:hover{text-decoration:none;}
#file2 input{max-width:99% !important;}
p.heads2{font-size:20px;background:#e8e8e8;padding:10px;margin:15px 0px 25px 0px;font-weight:normal;text-align:center;}
#content .category-info p.heads{clear:both;}
.parents_li.act .sub_topmenu li{background:#d0d0d0;}
p.troubleshootingmin{clear:both;font-size:0 !important;}
.troubleshootingmin a span{font-size:16px;}
.fixed_menu li{display:inline-block;line-height:46px;border-right:1px solid #888;margin-left:-7px;}
.person_dan{font-size:16px;padding:10px 0px;font-family:Arial, Helvetica, sans-serif;}
.person_dan a{font-size:16px;padding:0px 0px;font-family:Arial, Helvetica, sans-serif;}
.person_dan a:hover{text-decoration:none;}
.new_footer p.img span:before{content:'-';position:absolute;left:-5px;}
.new_footer p.img span{padding-left:10px;display:inline-block;vertical-align:top;position:relative;margin-left:5px;width:220px;}
.extra #ya-site-form1 .ya-site-form__form .ya-site-form__input-text,
.extra #ya-site-form1 .ya-site-form__submit{-webkit-appearance:none !important;border-radius:0 !important;}
#toTop{background:url(img/btn_up.svg) no-repeat;}
.breadcrumb{list-style-type:none;padding:10px 0px;border-bottom:1px solid #ccc;}
.breadcrumb a:nth-child(2){color:#000 !important;}
#form_ord_rep{top:5px;left:0;right:0;margin:0 auto !important;width:480px;z-index:1010;background:white;position:fixed;margin:0px 0px 0px 0px;padding:20px 10px 20px 10px;display:none;text-align:center;}
.new_footer{clear:both;}
.category-info{overflow:inherit !important;margin-bottom:20px;}
.line_red_bl{margin:10px auto;border:2px solid #f00;padding:10px;box-sizing:border-box;}
#content #ya-site-results{position:static !important;width:100%;display:block;overflow-x:scroll}
.box .box-heading{margin-top:15px;box-sizing:border-box;}
.category-info .akcii img{width:95% !important;}
#kontakt_maps .contacts, .contacts-and-map .contacts{float:left;width:40%;}
#kontakt_maps .table_cont{float:left;width:50%;}
#kontakt_maps .maps, .contacts-and-map .maps{float:right;width:50%;clear:inherit;margin-top:0;}
.left_garant,
.right_garant{display:inline-block;vertical-align:top;width:49%;text-align:center;}
.akcii .hidd2{display:none;}
.feedback-arbitrage input[type="radio"]{margin:0px 3px 0;}
.both{clear:both;}
.troubleshootingmin a{width:14.2% !important;min-height:90px;height:auto;float:none;margin:10px 9px !important;vertical-align:top;}
.troubleshootingmin a br{display:none;}
.hidden_btn{display:none;}
.bx-wrapper .bx-prev{left:20px;background:url(/test/img/1.svg) no-repeat;transform:rotate(180deg);}
.bx-wrapper .bx-prev:hover{background:url(/test/img/11.svg) no-repeat right bottom;transform:rotate(0deg);}
.bx-wrapper .bx-next{right:20px;background:url(/test/img/1.svg) no-repeat;}
.bx-wrapper .bx-next:hover{background:url(/test/img/11.svg) no-repeat 27px 6px;transform:rotate(180deg);}
.owl-prev{background:url(/test/img/1.svg) no-repeat;transform:rotate(180deg);width:20px;height:38px;top:40%;position:absolute;left:10px;}
.owl-prev:hover{background:url(/test/img/11.svg) no-repeat right bottom;transform:rotate(0deg);}
.owl-next{background:url(/test/img/1.svg) no-repeat;transform:rotate(0deg);width:20px;height:38px;top:40%;position:absolute;right:10px;}
.owl-next:hover{background:url(/test/img/11.svg) no-repeat 0px 6px;transform:rotate(180deg);}
#ya-site-form1 .ya-site-form__form .ya-site-form__input-text{border-color:#7f9db9!important;}
#ya-site-form1 .ya-site-form__input-text{padding:0px 10px;border:0;height:25px!important;border-radius:0;width:240px;}
#ya-site-form2 .ya-site-form__input-text{width:100%;margin:0!important;cursor:text;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#fff;border:none !important;outline-style:none;-webkit-appearance:textfield;border-radius:0 !important;height:25px !important;}
#ya-site-form2 .ya-site-form__submit{background:#f2f3f3 url(../img/search_icon.png) center center no-repeat;width:44px !important;vertical-align:top;border:0;padding:0;cursor:pointer;font-size:0 !important;margin:0 !important;text-indent:-999px;}
#ya-site-form0{margin:0!important;padding:0!important;position:static !important;}
.elem_head{width:auto;}
.hidd_otziv{display:none;}
.video_wrap iframe{height:415px;}
.hidd_set_auto{display:none;}
.main_block_img2{display:none;}
noindex.hidden_menu{display:none;}
body{overflow-x:hidden;font-size:13px;}
@media screen and (max-width:1216px){.row #content{width:100%;}
.container{width:100%;}
.menu{width:100%;min-height:123px;box-sizing:border-box;}
.row{min-width:100%;}
.fixed_menu{width:100%;text-align:center;}
.topmenu{width:100%;}
.extra{width:100%;}
.extra #ya-site-form0 .ya-site-form__form .ya-site-form__input-text{width:207px;font-family:"Trebuchet MS";line-height:44px;padding:0 0 0 10px;}
.top-menu > div{display:inline-block;vertical-align:top;box-sizing:border-box;}
.top-menu .ord_repair{width:25%;padding-top:0;}
.top-menu > div *{box-sizing:border-box;}
.top-menu{width:100%;margin:29px 0 10px;}
.site_title{width:29%;text-align:left;padding:0 0 0 5px;font-size:24px;line-height:38px;}
.head_phones{width:24%;}
.icon_head.i1-2{font-size:24px;line-height:18px;padding-bottom:8px;}
.icon_head.i1-2 span{font-size:24px;}
.icon_head.i1{font-size:16px;}
.head_phones{width:24%;}
.web-cam-but{background-position:0px 8px;background-size:26px;height:36px;padding-top:8px;width:222px;margin:0 auto;text-align:right;margin-top:0;font-size:17px;margin:0 0 0 14px;}
.buttonOnline{width:216px;margin:9px 0 0 20px;background:none;background-color:#da0c13;padding-left:0;text-align:center;}
.icon_head.i2{background-position:4px 3px;height:36px;padding-left:49px;padding-top:0;font-size:18px;}
.icon_head.i2 a{font-size:16px;color:#000;text-decoration:none;padding-top:4px;display:block;}
.ord_prof{padding-left:25px;width:20%;}
.ord_prof_btn{background-color:#737272;text-align:center;width:170px;padding-left:0;}
#notification{width:100%;}
.header .grey{min-height:165px;height:auto;border-bottom:1px solid #c3c2c1;}
.menu_button_1{background:url(img/rep_parts.png) no-repeat;background-size:35px;background-position:center 2px !important;border-right:1px solid #dbdbdb;width:24%;box-sizing:border-box;min-height:98px;padding:55px 0 0 0 !important;text-align:center;}

.menu_button_2{background:url(img/avtos.png) no-repeat;background-size:35px;background-position:center 2px !important;border-right:1px solid #dbdbdb;width:27%;box-sizing:border-box;min-height:98px;padding:55px 0 0 0 !important;text-align:center;}

.menu_button_3{background:url(img/mileage.png) no-repeat;background-size:50px;background-position:center 2px !important;border-right:1px solid #dbdbdb;width:27%;box-sizing:border-box;min-height:98px;padding:55px 0 0 0 !important;text-align:center;}
.menu_button_4{background:url(img/crash_carcase.png) no-repeat;background-size:38px;background-position:center 3px !important;width:20%;box-sizing:border-box;min-height:98px;padding:55px 0 0 0 !important;text-align:center;}
.left-cell{width:26%;float:left;margin-right:0;box-sizing:border-box;}
.right-cell, #content{width:74%;display:block;float:left;margin-top:15px;box-sizing:border-box;padding-left:10px;padding-right:9px;}
.media .slider{width:100%;float:left;margin-top:10px;margin-bottom:26px;}
.leftmenu{width:100%;float:left;margin-top:15px;}
.leftmenu ul{list-style:none;width:100%;margin:9px 0 0 0;}
.leftmenu ul li{padding-left:41px;box-sizing:border-box;width:100%;margin-bottom:12px;}
.main_block_img a img{margin-bottom:5px;}
.elem_head{text-align:left;padding:20px 0px 0 18px;}
.adv_wrap table.adv{display:block !important;}
.adv_wrap{margin:18px 0 25px 0;box-sizing:border-box;}
.adv{height:465px;}
.adv_title{font-size:22px;}
table.adv tr{margin-bottom:21px;display:block;}
.adv_icon{width:85px;height:70px;text-align:left;vertical-align:text-bottom;padding-left:15px;}
.adv_descr{width:365px;vertical-align:top;line-height:15px;}
td.adv_descr > span{font-size:16px;line-height:19px;}
.adv_descr .strong{font-weight:normal;font-size:16px;padding-top:5px;display:block;line-height:22px;}
td.adv_descr > span br{display:none;}
.adv_link{text-align:right;padding-right:20px;font-size:16px;}
.review-list .rating{margin-bottom:5px;margin-top:8px;margin-left:6px;}
.review-list .author{float:left;margin-bottom:20px;margin-top:15px;font-size:15px;}
.review-list .text{clear:both;font-size:16px;}
.review-list .text a{display:block;}
.review-list{margin-bottom:0;}
#content h1, .content h1, #content h2, .content h2{font-size:21px;line-height:26px;}
.slider .bx-wrapper{width:666px;}
.slider .bxslider2 li a.fancy_img img{height:145px;}
.partF .img_p > a{display:inline-block;vertical-align:top;width:23%;box-sizing:border-box;line-height:85px;}
.partF .img_p p{display:inline-block;vertical-align:top;width:16%;box-sizing:border-box;line-height:85px;text-align:center;}
.partF .img_p noindex{display:inline-block;vertical-align:top;width:19%;box-sizing:border-box;line-height:85px;}
.adv_link{text-align:center;padding-right:0;font-size:18px;}
.item_news{float:left;display:inline-block;width:49%;padding:15px;box-sizing:border-box;}
.item_news a{font-size:18px;padding-top:20px;display:block;}
.fixed_menu li a{padding:0 10px;}
.fixed_menu li.fixed_menu_last{border-right:0;width:200px !important;}
.fixed_menu .buttonOnline{margin:0;padding:0;box-sizing:border-box;width:200px;}
.new_footer{width:100%;min-width:100%;}
.botmenu li a{font-size:16px;padding:0 8px;}
.new_footer .right{float:left;padding-right:0px;}
.new_footer .extra{width:auto;}
.extra #ya-site-form1 .ya-site-form__form .ya-site-form__input-text{width:200px;color:#aaaaaa;font-family:"PT Sans";font-size:14px;font-style:italic !important;}
.new_footer .left .bold{display:none;}
.new_footer .map{display:inline-block;margin-left:0;margin-right:0;vertical-align:top;width:48%;}
.new_footer .adreses{display:inline-block;width:50%;padding-top:10px;}
.new_footer .adres{margin-bottom:8px;}
.new_footer .adres p.name{font-weight:400;font-size:13px;line-height:18px;}
.phone_footer.i1-2 span{font-size:21px;}
.new_footer .adres p{margin:0px;line-height:18px;letter-spacing:-0.2px;font-size:12px;}
.new_footer .wrap{padding:20px 0px 0 0;width:100%;}
.new_footer p.img{margin:5px;font-style:italic;width:70%;margin-top:3px;margin-left:25px;}
.new_footer .wrap .left{width:50%;}
.new_footer .wrap .right{width:50%;box-sizing:border-box;padding-right:8px;}
.new_footer .links .ord_prof span{display:none;}
.new_footer .links{box-sizing:border-box;width:49%;}
.buttonOnline{width:222px;box-sizing:border-box;margin:0 0 0 14px;}
.new_footer .links .ord_prof{padding-left:0;width:100%;}
.new_footer .ord_prof_btn{text-align:center;width:100%;padding-left:0;}
.new_footer .links .meta_links a{color:#a43a36;font-family:"Trebuchet MS";font-size:17px;font-weight:400;line-height:27px;text-decoration:underline;}
.new_footer .links_all{padding-top:0;}
.new_footer .fk-btn{margin-bottom:24px;margin-top:0;margin-left:auto;width:216px;text-align:right;}
.phone_footer.i1-2 a{color:#000;text-decoration:none;padding-bottom:18px;display:block;}
.phone_footer.i1{text-align:right;margin-bottom:30px;}
.soc_btn{font-size:18px;padding-left:40px;text-align:right;}
.soc_btn span{display:block;text-align:right;font-size:16px;padding-bottom:5px;}
.soc_btn img{margin-right:0;margin-top:7px;width:50px;margin-left:8px;}
.top-menu .ord_repair a{text-decoration:none;font-size:16px;font-weight:600;}
.new_footer .buttonOnline{width:100%;box-sizing:border-box;margin:0 0 0 0;}
.right-cell .adv_wrap .adv_link{text-align:right;}
.topmenu li,
.fixed_menu li{position:static;}
.topmenu ul{left:0;width:100% !important;}
.topmenu li ul li, .fixed_menu li ul li{display:block;border-bottom:none;margin-left:0px;float:left;border-right:none;margin-right:28px;line-height:50px;}
.topmenu li ul, .fixed_menu li ul{width:100%;left:0;}
.o_kompanii_frame iframe{height:100%;}
.o_kompanii_frame{height:307px;min-height:auto;}
#content div img{padding:5px;}
p.troubleshootingmin{width:100% !important;text-align:center !important;}
.category-info img{height:auto !important;margin-bottom:10px;}
.usl-d{justify-content: center;}
.usl-d .item {margin: 0 5px 20px 5px;}
.category-info .troubleshootingmin img{width:55px !important;height:auto !important;margin-bottom:10px;}
.width100 img{width:100% !important;}
#maslo_maps{width:100%;height:auto;float:none;clear:both;}
.all_serv a.aimg{min-height:108px;margin-bottom:15px !important;padding:0px;}
.category-info .all_serv img{display:block;width:128px !important;height:auto !important;margin:7px auto 0;padding:0 !important;}
.all_serv li{width:18%;}
.breadcrumbs a, .breadcrumb a{color:#a43a36;text-decoration:none;}
.otziv_wrap .review-list{margin-bottom:13px;}
.feedback-arbitrage table{width:100%;}
.feedback-arbitrage table td{width:50%;}
.feedback-arbitrage table td input{width:90%;}
.feedback-arbitrage table td select{width:92%;border-radius:inherit;}
.feedback-arbitrage table td input[name="phone"],
.feedback-arbitrage table td input[name="numorder"]{width:98%;}
.left-cell + .right-cell, .left-cell + #content{width:74%;display:block;float:left;margin-top:15px;}
.container img{display:block;margin:5px auto;}
}
@media screen and (max-width:1050px){.maps{width:100%;height:390px;float:none;margin-top:25px;clear:both;display:inline-block;}
div#zapravka-map{height:390px;}
.category-info .all_serv{display:block;padding:0;}
.category-info .all_serv{display:block;text-align:center;}
.all_serv.act{display:inline-block;vertical-align:top;width:100%;}
.category-info br{display:none;}
.all_serv p br{display:block;}
#content .category-info p.heads{margin:0 0 7px 0;text-align:left;padding:10px 10px 10px 15px;background:#e8e8e8;clear:both;}
.all_serv li{width:24%;margin-left:6px;padding:0;}
.category-info .all_serv img{display:block;width:160px !important;height:105px !important;margin:3px auto 0;}
#kontakt_maps #maps2{float:right;clear:inherit;margin-top:0;width:319px;height:512px;}
#kontakt_maps .maps{float:right;clear:inherit;margin-top:0;width:319px;height:390px;}
.contacts-and-map .maps{float:right;clear:inherit;margin-top:0;width:319px;height:390px;}
.all_serv li:hover{border:none;}
ymaps:{width:auto !important;}
}
@media screen and (max-width:959px){noindex.hidden_menu{display:block;background:#f2f3f3;padding-bottom:0px;}
.breadcrumb{background:transparent;}
.row #content{width:100%;}
#none_header,
#notification{display:none;}
.contacts table td{width:100% !important;}
.contacts{float:none;width:100%;}
.hidden_menu .header{width:100%;min-height:38px !important;background-color:#a6a6a6;height:auto;}
#ya-site-form1{display:none;}
.poisk_btn{width:34px;height:34px;border:1px solid #a6a6a6;background:#ffffff url(img/lupa.svg) no-repeat center;float:left;margin-left:10px;margin-top:1px;}
.menu_btn_buter{color:#ffffff;font-family:"Trebuchet MS";font-size:17px;font-weight:400;line-height:38px;background:url(img/buter.svg) no-repeat 90% center;width:80px;float:right;padding-right:5px;}
.topmenu{display:none;}
.site_title{width:23%;display:inline-block;vertical-align:top;box-sizing:border-box;}
.head_phones{width:23%;display:inline-block;vertical-align:top;box-sizing:border-box;}
.icon_head.i2{width:23%;display:inline-block;vertical-align:top;box-sizing:border-box;background:none;padding-left:0;text-align:center;}
.buttonOnline_wrap{width:25%;display:inline-block;vertical-align:top;box-sizing:border-box;}
.logo img{max-width:182px;}
.site_title{text-align:center;padding:0 0 0 5px;font-size:16px;line-height:16px;}
.icon_head.i1-2{font-size:18px;}
.icon_head.i1-2 span{font-size:18px;}
.fk-btn{width:auto;text-align:center;padding-top:5px;}
.icon_head.i2 a{background:url(img/dotted.png) center bottom repeat-x;display:inline-block;padding-top:6px;}
.akcii p{margin-bottom:0px;}
.left-cell{display:none;}
.right-cell, #content{width:100%;}
.slider .bx-wrapper{width:666px;}
.hidd_otziv{display:block;}
.hidd_otziv .left-cell{display:block;width:100%;}
.hidd_otziv .left-cell .leftmenu{display:none;}
.box-content{width:100% !important;box-sizing:border-box;}
.new_footer .row .right{display:none;}
.new_footer .row .left{float:none;}
.botmenu li a{color:#000000;font-family:"Trebuchet MS";font-size:18px;font-weight:400;line-height:31px;}
.new_footer .row{background:none;}
.botmenu li:hover, .botmenu li.curr{background:none;}
.botmenu li{border:none;}
#ya-site-form1.act{display:block;width:100%;height:53px;background-color:#a6a6a6;top:38px;}
#ya-site-form1 .ya-site-form__search-input{padding:6px 0 0 10px;}
.extra #ya-site-form0 .ya-site-form__wrap, .extra #ya-site-form1 .ya-site-form__wrap{width:99%;}
.extra #ya-site-form1 .ya-site-form__form .ya-site-form__input-text{width:100%;font-family:"PT Sans";font-style:italic !important;line-height:44px;height:38px !important;color:#aaaaaa;font-size:14px !important;margin-left:7px !important;}
.extra #ya-site-form1 .ya-site-form__submit{height:38px !important;margin-right:-2px;}
.topmenu.act{display:block;height:auto;width:100%;z-index:9999;}
.topmenu.act ul{background-color:#a6a6a6;padding-top:7px;}
.topmenu li{background-color:#a6a6a6;color:#ffffff;font-family:"Lucida Sans Unicode";font-size:17px;font-weight:400;line-height:50px;width:100%;padding:0;border:none;display:block;margin:0;clear:both;}
.topmenu li:hover a, .topmenu li.curr a{color:#000;font-size:16px;}
.topmenu li a{color:#fff;text-decoration:none;font-size:16px;font-family:"Trebuchet MS";padding:0;display:block;margin:0 10px 0 10px;border-top:1px solid #888888;line-height:50px;}
.topmenu ul{margin:0;}
.menu_button_1{background:#a6a6a6 url(img/rep_parts_weight1.svg) no-repeat;background-size:35px;background-position:25px center !important;border-right:none;width:100%;box-sizing:border-box;min-height:70px;padding:0 10px !important;text-align:center;}
.menu_button_2{background:#a6a6a6 url(img/rep_parts_weight2.svg) no-repeat;background-size:35px;background-position:25px center !important;border-right:none;width:100%;box-sizing:border-box;min-height:70px;padding:0 10px !important;text-align:center;}
.menu_button_3{background:#a6a6a6 url(img/rep_parts_weight3.svg) no-repeat;background-size:35px;background-position:25px center !important;border-right:none;width:100%;box-sizing:border-box;min-height:70px;padding:0 10px !important;text-align:center;}
.menu_button_4{background:#a6a6a6 url(img/rep_parts_weight4.svg) no-repeat;background-size:35px;background-position:25px center !important;border-right:none;width:100%;box-sizing:border-box;min-height:70px;padding:0 10px !important;text-align:center;}
.linear{border-top:1px solid #888888;display:table;height:70px;width:100%;padding:0;box-sizing:border-box;}
.linear a,
.estimate_form{color:#ffffff;font-family:"Trebuchet MS";font-size:17px;font-weight:400;line-height:22px;text-transform:uppercase;vertical-align:middle;display:table-cell;padding-left:74px;text-decoration:none;text-align:left;}
.linear span{color:#ffffff;font-family:"Trebuchet MS";font-weight:400;line-height:22px;font-size:13px;display:block;text-align:left;text-transform:none;}
.parents_li a{position:relative;}
.parents_li > a:before{content:'';width:12px;height:12px;background:url(img/str_white.svg) no-repeat;position:absolute;left:94%;top:23px;}
.parents_li.act > a:before{content:'';width:12px;height:12px;background:url(img/str_black.svg) no-repeat;position:absolute;left:94%;top:23px;transform:rotate(-90deg);}
.topmenu.act ul{background-color:#a6a6a6;padding-top:0;}
.topmenu li ul, .fixed_menu li ul{position:static;}
.topmenu li:hover, .topmenu li.curr{background:auto;}
.all_serv_descr{border:none;}
.category-info img{margin-bottom:10px;}
.frame_main{width:100%;}
.left-cell + .right-cell, .left-cell + #content{width:100%;display:block;float:left;margin-top:15px;}
.akcii img{height:auto !important;}
.hidden_menu .web-cam-but{background-position:0px 8px;background-size:26px;height:30px;padding-top:8px;width:34px;text-align:right;margin-top:0;font-size:17px;margin:0;display:block;margin:0 10px 0 10px;position:relative;z-index:999;float:left;}
.hidden_menu .web-cam-but a{display:block;height:30px;width:34px;}
#content .category-info .camera_wrap p{text-align:center;}
.two_blocks_head{display:inline;}
.o_kompanii_frame{min-height:1px;}
.wrap404 .left_side{float:none;width:100%;}
.wrap404 .left_side img{max-width:99%;}
.wrap404 .right_side{float:none;width:100%;}
.recom_grid{text-align:center;}
.recom_grid > div{width:245px;margin-left:0px;padding:0;float:none;display:inline-block;vertical-align:top;text-align:left;}
}
@media screen and (max-width:850px){.new_footer .wrap .left{width:100%;}
.new_footer .wrap .right{width:100%;box-sizing:border-box;padding-right:15px;padding-left:15px;margin-top:20px;}
.new_footer .buttonOnline{width:222px;}
.new_footer .links .ord_prof{width:222px;}
}
@media screen and (max-width:799px){.site_title{width:100%;margin-bottom:5px;}
.icon_head.i2 {     margin-top: 4px; }
.head_phones{width:50%;padding-right:15px;text-align:left;}
.header{margin:0;}
.icon_head.i2{width:49%;text-align:left;padding-left:25px;}
.icon_head.i2 .fk-btn{text-align:left;padding-top:5px;font-size:16px;}
.buttonOnline_wrap{width:100%;}
.buttonOnline{margin:10px auto 10px;width:93%;}
#content h1, .content h1, #content h2, .content h2{text-align:left;}
#content p, .content p{text-align:left;}
.item_news .date, .item_news .item_news_name{height:auto !important;text-align:left;}
.botmenu{min-height:40px;height:auto;}
.botmenu ul{margin:25px auto 0;list-style:none;width:45%;}
.botmenu ul li{float:left;width:50%;}
.all_serv li{width:168px;margin-left:6px;padding:0;float:none;display:inline-block;vertical-align:top;}
.all_serv.act{text-align:center;padding:0px 0px 30px 0px;}
.icon_head.i1-2 a{font-size:14px;}
.icon_head.i1-2 span{font-size:14px;}
.icon_head.i2{width:49%;text-align:right;padding-left:5px;}
.icon_head.i2 a{font-size:14px;text-align:right;display:inline;padding-right:0;width:110px;float:none;}
.icon_head.i2 .fk-btn{text-align:right;padding-top:5px;font-size:16px;    background-position-x: calc(100% - 130px);}
.two_blocks_head{display:block;width:93%;margin:0 auto;}
#content div img{margin:0 auto;display:block;}
}
@media screen and (max-width:705px){.botmenu ul{margin:25px auto 0;list-style:none;width:250px;}
.slider .bx-wrapper{width:420px;}
.media .slider{display:none;}
.main_block_img{display:none;}
.main_block_img2{display:block;width:100%;}
.main_block_img2 a{color:#ffffff;font-size:18px;font-weight:700;line-height:18px;text-decoration:none;width:100%;height:62px;background-color:#2a3e49;padding-left:21px;margin-bottom:10px !important;box-sizing:border-box;display:table;}
.main_block_img2 a span{display:table-cell;vertical-align:middle;}
.hidd_set_auto{display:block;}
.right-cell .adv_wrap .adv{display:none !important;}
.adv_icon{width:15%;height:70px;text-align:center;vertical-align:text-bottom;padding-left:0;display:inline-block;box-sizing:border-box;padding-top:8px;}
.adv_descr{width:82%;vertical-align:top;line-height:20px;display:inline-block;box-sizing:border-box;padding-left:15px;margin-bottom:25px;}
.adv_title{font-size:21px;}
.adv_wrap{border:none;padding:0;}
.adv_wrap{margin:35px 0 25px 0;box-sizing:border-box;}
.right-cell .adv_wrap .adv_link{text-align:center;}
.partF .h2{font-size:21px !important;}
.video_wrap iframe{height:236px;}
.news .elem_head{text-align:left;padding:0 0 15px 0;}
.item_news{float:left;display:inline-block;width:100%;padding:0;box-sizing:border-box;}
.troubleshootingmin a{float:none;}
p.troubleshootingmin{text-align:center !important;}
.troubleshootingmin a img{max-width:70px;}
#kontakt_maps .contacts, .contacts-and-map .contacts{float:none;width:100%;}
.metro-icon{font-size:16px;}
#kontakt_maps .contacts span{font-size:16px !important;}
#kontakt_maps #maps2{float:none;clear:inherit;margin-top:0;width:100%;height:165px;margin-top:15px;}
#kontakt_maps .table_cont{float:none;width:100%;}
#kontakt_maps .maps, .contacts-and-map .maps{float:none;clear:inherit;margin-top:0;width:100%;height:390px;margin-top:15px;}
#kontakt_maps + hr{display:none;}
.icon_head.i1{font-size:14px;text-align:left;}
.iconic-ul{overflow:hidden;}
.iconic-ul li{width:49%;float:none;padding:10px;padding-left:71px;box-sizing:border-box;display:inline-block;height:auto;vertical-align:top;}
table.pricee , .dop-price{font-size:12px;display:block;overflow-x:scroll;}
}
@media screen and (max-width:640px){.partF .img_p p{width:49%;text-align:center;}

.contacts{width:100% !important;}
.partF .img_p > a{width:49%;}
.partF .img_p noindex{width:49%;}
.two_ul{float:none;width:100%;}
.two_ul ul{margin:0 0 0px 25px;}
.troubleshootingmin a{width:105px !important;height:auto;margin:10px 5px !important;}
.form-container{width:100%;}
.row-fluid{width:100%;}
.row-fluid .span8{width:100%;}
.form-container .right-side{float:none;width:100%;}
.form-container .left-side{float:none;width:100%;}
.form-container .left-side input{width:98%;border-radius:inherit;}
.form-container .left-side select{width:100%;border-radius:inherit;margin-bottom:15px;}
.form-container textarea{width:98%;border-radius:inherit;}
#content .content .left{float:none;width:100%;}
#content .content .right{float:none;width:100%;}
#content .content input[name="name"],
#content .content input[name="email"],
#content .content input[name="phone"]{width:100%;box-sizing:border-box;}
#content .content select[name="auto_tech_centrum_f"]{width:100%;border-radius:inherit;}
#content .content textarea[name="enquiry"]{width:100% !important;box-sizing:border-box;}
.buttons{text-align:center;}
.box-content .box-news img{width:100% !important;height:auto !important;}
.buttons .right{float:none;text-align:center;}
.vin-order{width:100%;box-sizing:border-box;}
.vin-order input{width:100%;box-sizing:border-box;}
.vin-order select.focusout{width:100%;}
.vin-order textarea{width:100%;max-width:100%;box-sizing:border-box;}
.head_phones{padding-right:0px;}
.head_phones{width:49%;}
.icon_head.i1-2 a{font-size:14px;}
.icon_head.i1-2 span{font-size:14px;}
.icon_head.i2{width:49%;text-align:right;padding-left:5px;}
.icon_head.i2 a{font-size:14px;text-align:right;display:inline-block;padding-right:0;width:110px;float:none;vertical-align:top;padding-top:5px;}
.icon_head.i2 .fk-btn{text-align:right;padding-top:5px;font-size:14px;}
.fk-btn span{display:inline;}
.container img{display:block;margin:0 auto;}
.container .partF img{margin:0 auto 10px;}
.iconic-ul li{width:100%;}
#content .category-info p.heads{font-size:18px;}
.span8 .form-container .left-side select{width:99.5%;}
.span8 .form-container .btn-danger{float:left !important;width:171px;margin-right:0 !important;margin:0px 0 0 0 !important;}
.span8 .form-container .btn.right{float:right;}
#content div img.web_kam{max-height:400px !important;width:50px !important;margin:0;}
.all_serv.act{display:block;vertical-align:top;width:360px;margin:0 auto;}
}
@media screen and (max-width:480px){.span8 .form-container .left-side select{width:100%;}
.all_serv.act{display:block;vertical-align:top;width:300px;margin:0 auto;}
.slider .bx-wrapper{width:290px;}
.o_kompanii_frame{height:135px;}
.video_wrap iframe{height:136px;}
.top-menu .fk-btn span{font-size:14px;}
.new_footer .map{width:290px;margin:0 auto;display:block;text-align:center;}
.new_footer .adreses{display:none;}
.new_footer p.img{font-family:"Trebuchet MS";font-size:16px;width:85%;}
.new_footer .links{box-sizing:border-box;width:100%;}
.new_footer .buttonOnline{margin:0 auto;}
.new_footer .links .ord_prof{margin:0 auto 30px;}
.new_footer .links ul{column-count:2;}
.new_footer .links ul li:nth-child(3),
.new_footer .links ul li:nth-child(4){padding-left:40px;}
.new_footer .links .ord_repair{margin-bottom:21px;text-align:center;}
.new_footer .fk-btn{width:195px;background:url(../catalog/view/theme/default_new/image/app4.png) no-repeat 0px 5px;padding-left:20px;margin:26px auto 29px;}
.phone_footer.i1-2 a{margin:0 auto !important;text-align:center;}
.phone_footer.i1{text-align:center;}
.soc_btn{width:290px;margin:0 auto;padding-left:0;text-align:left;}
.soc_btn span{display:inline-block;width:125px;vertical-align:top;padding-top:22px;}
.new_footer .links_all{margin-bottom:40px;}
.new_footer .footer_text p.offert{padding-top:20px;}
.hidden_text{display:none;}
.hidden_text.act{display:block;}
#content p.hidden_btn.act{display:none;}
#content p.hidden_btn{display:block;font-family:"Trebuchet MS";font-size:16px;font-weight:400;line-height:20px;color:#a43a36;text-decoration:underline;}
#content p.hidden_btn:hover{text-decoration:none;}
.all_serv li{width:144px;margin-left:0;margin-right:6px;padding:0;float:none;display:inline-block;vertical-align:top;margin:0 auto 10px !important;}
.all_serv li:nth-child(2n){margin-right:0;}
.breadcrumbs a, .breadcrumb a{color:#a43a36;text-decoration:none;}
.category-info img{width:97% !important;height:auto !important;margin-bottom:10px;}
.troubleshootingmin a{width:30% !important;height:auto;margin:10px 0px !important;text-align:center;}
.shiny td{font-size:10px;}
.pagination .links a:nth-child(1){display:none;}
.pagination .results{float:left;padding-top:10px;}
.feedback-arbitrage table{display:block;}
.feedback-arbitrage table tr{display:block;}
.feedback-arbitrage table tbody{display:block;}
.feedback-arbitrage table td{display:block;width:100%;}
.feedback-arbitrage table td input{width:98% !important;margin-bottom:0px;}
.feedback-arbitrage table td select{width:100% !important;margin-bottom:0px;}
.pagination .links a{padding:4px 9px;}
.akcii .hidd2{display:block;}
.akcii .hidd1{display:none;}
.left_garant,
.right_garant{display:inline-block;vertical-align:top;width:100%;text-align:center;}
#form_ord_rep{left:0px;right:0;margin:0 auto;width:295px;top:15px;overflow:unset;}
#form_ord_rep input{width:98%;}
#form_ord_rep textarea{width:98%;height:50px;}
.dspopup-modal .close-dspopup-modal{top:-10px !important;right:-10px !important;}
.pav-category .children-inner > img{float:none;margin:10px auto !important;display:block;}
#main_prises_main td{font-size:10px;line-height:14px;}
.new_footer .img .point{width:30px;display:inline-block;vertical-align:top;}
.new_footer .img span{display:inline-block;vertical-align:text-bottom;width:225px;}
.ds-form .error-form{padding-left:0;font-size:.875em;color:#b21a41;list-style:none;margin:0;}
.ds-form .error-form li:before{content:"\00d7";float:left;margin-left:0;font-weight:700;position:relative;left:13px;}
.pagination .links b, .pagination .links .b{display:inline-block;border:1px solid #269BC6;padding:4px 10px;font-weight:normal;text-decoration:none;color:#269BC6;background:#FFFFFF;}
.pagination .links a{padding:4px 8px;font-size:13px;}
#content .row-fluid img{margin:7px 0px !important;clear:both;padding:0;}
#content .row-fluid .children-inner img{margin:7px 0px !important;clear:both;width:100% !important;height:auto !important;padding:0;}
.ds-form.dspopup-modal{overflow:unset;}
.elem_head{text-align:left;padding:0px 0px 0 0px;line-height:26px;font-size:19px;}
.owl-carousel.owl-loaded{display:block;margin-top:0px;height:170px;}
.prices td{font-size:12px;}
#content img{height:auto !important;width:auto !important;}
#content .akcii img{height:auto !important;}
#content .rating img, #content .category-info img{height:auto !important;padding:0;}
img.web_kam{width:auto !important;}
#toTop{background:url(img/btn_up.svg) no-repeat;transform:scale(0.6);bottom:70px;right:25px;}
.all_serv a{min-height:40px;}
.all_serv li{min-height:220px;height:auto;}
.icon_head.i2 .fk-btn{text-align:right;padding-top:7px;font-size:14px;}
#content h1, .content h1, #content h2, .content h2{text-align:left;word-wrap:break-word;}
.category-info .scroll{overflow-x:auto;width:310px;margin:0 auto;}
.btn-danger{float:none !important;width:79%;margin-right:0 !important;margin:15px auto !important;}
table.prices tr:nth-child(2n) td{background:#ddd;width:45px;}
#content .akc_block .tabs{font-size:16px !important;}
table.pricee , .dop-price{font-size:12px;display:block;overflow-x:scroll;}
.ul_left{float:none !important;width:100% !important;}
.ul_right{float:none !important;width:100% !important;}
.iv-embed iframe{height:auto;}
}
@media screen and (max-width:1024px){.form-container .snoska{margin-bottom:0px;}
}
@media screen and (max-width:768px){#form_ord_rep .form-container{overflow-y:auto;max-height:600px;}
}
@media screen and (max-width:480px){#form_ord_rep .form-container{overflow-y:auto;height:520px;}
.wrap404 .right_side .text_1{font-size:112px;}
.wrap404 .right_side .text_2{font-size:44px;}
.wrap404 .right_side .text_3{font-size:19px;line-height:100%;}
.wrap404 .right_side div{margin:5px 0;}
}
@media screen and (max-width:320px){#form_ord_rep .form-container{overflow-y:auto;height:360px;}
}
@media screen and (max-height:480px){#form_ord_rep .form-container{overflow-y:auto;}
.icon_head.i2 a{font-size:14px;text-align:right;display:inline;padding-right:0;width:110px;float:none;margin-right:10px;}
.object{height:350px;}
.comagic-call-generator{width:300px;min-width:300px;}
.comagic-call-generator__body__left-part{display:none;}
.comagic-call-generator__body__right-part{margin-left:0;}
#toTop{background:url(img/btn_up.svg) no-repeat;transform:scale(0.6);bottom:110px;right:25px;z-index:9;}
}