.two_ul{width:45%;float:left;}
.wrapper{width:100%;margin:0 auto;}
.maps{width:50%;height:400px;float:right;}
.contacts{float:left;width:50%;}
.img_p p{display:inline-block;vertical-align:top;text-align:center;}
.row{width:100%;min-width:1200px;margin:0;padding:0;}
.container{margin:0 20px;}
.container{position:relative;width:1200px;margin:0 auto;}
.white, #content{background:#fff;min-height:50px;}
.black{background:#a6a6a6;}
.grey{background:#f2f3f3;min-height:50px;}
.left{float:left;}
.right{float:right;}
.header .grey{height:156px;}
.fixed_menu{position:fixed;z-index:1000;background-color:#a6a6a6;width:1208px;top:0;margin:auto;display:none;color:#fff;height:48px;}
.fixed_menu ul{margin:0px;list-style:none;}
.fixed_menu li{display:inline-block;line-height:46px;border-right:1px solid #888;margin-left:-6px;}
.fixed_menu li:hover, .fixed_menu li.curr{background:#bbb;}
.fixed_menu li.fixed_menu_last{border-right:0;width:450px;}
.fixed_menu li.fixed_menu_last:hover{background:#a6a6a6;}
.fixed_menu li a{color:#fff;text-decoration:none;font-size:18px;font-family:"Trebuchet MS";padding:0 20px;}
.fixed_menu li a:hover{color:#FFF;text-decoration:none;}
.fixed_menu .buttonOnline{margin:0px 0px 0px auto;}
.topmenu{height:35px;width:690px;}
.topmenu ul{margin:0 0 10px 0px;}
.topmenu li{display:inline-block;line-height:32px;border-right:1px solid #888;margin-left:-4px;position:relative;}
.topmenu li:hover, .topmenu li.curr{background:#bbb;}
.topmenu li a{color:#fff;text-decoration:none;font-size:17px;font-family:"Trebuchet MS";padding:0 14px;}
.topmenu li a:hover{color:#FFF;text-decoration:none;}
.topmenu li ul,.fixed_menu li ul{position:absolute;display:none;background:#a6a6a6;z-index:101;width:200px;}
.topmenu li ul li, .fixed_menu li ul li{display:block;border-bottom:1px solid #bbb;margin-left:0px;}
.topmenu li ul li a,.fixed_menu li ul li a{font-size:14px;}
.topmenu li:hover > ul,.fixed_menu li:hover > ul{display:block;}
.extra{width:320px;}
.extra ul{text-align:right;float:right;}
.extra li{display:inline;line-height:60px;vertical-align:middle;float:left;}
.extra li.lk{background:url(img/lk.png) no-repeat 0 50%;background-size:33px;padding-left:30px;display:inline-block;}
.extra li.cart{background:url(img/cart.png) no-repeat 0 50%;background-size:33px;padding-left:30px;display:inline-block;}
.extra li a{color:#fff;text-decoration:none;font-size:18px;font-family:"Trebuchet MS";padding:0 14px;}
.extra input::-webkit-input-placeholder{color:#aaa!important;}
.extra input::-moz-placeholder{color:#aaa!important;}
.extra input:-moz-placeholder{color:#aaa!important;}
.extra input:-ms-input-placeholder{color:#aaa!important;}
.extra li a:hover{text-decoration:underline;}
.extra #ya-site-form0 .ya-site-form__wrap, .extra #ya-site-form1 .ya-site-form__wrap{width:auto;}
.extra #ya-site-form0 .ya-site-form__form .ya-site-form__input-text{padding:0px 10px;border:0;height:25px!important;border-radius:0;width:275px;font-size:14px!important;font-style:italic!important;}
.extra #ya-site-form0 .ya-site-form__submit{margin:0px;background:#f2f3f3 url(../img/search_icon.png) center center no-repeat;width:44px;vertical-align:top;border:0;padding:0;cursor:pointer;font-size:0 !important;}
.extra #ya-site-form1 .ya-site-form__form .ya-site-form__input-text{padding:0px 10px;border:0;height:25px!important;border-radius:0;width:240px;}
.extra #ya-site-form1 .ya-site-form__submit{margin:0px;background:#f2f3f3 url(../img/search_icon.png) center center no-repeat;width:44px;vertical-align:top;border:0;padding:0;cursor:pointer;font-size:0 !important;}
[class*="span"]{float:left;min-height:1px;margin-left:20px;}
.row-fluid{}
.top-links{padding-top:0;}
.text-right{text-align:right;}
.row-fluid .span3{width:275px;margin:0;padding:10px 0;}
.logo img{max-width:271px;}
.row-fluid .span5{width:430px;}
.header .row-fluid .span4{margin-left:128px;}
.spec .row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span4{width:290px;}
.spec .row-fluid .span4{margin-left:80px;}
.contact p{width:420px;}
.contact{font-family:'Trebuchet MS', Helvetica, sans-serif;}
.contact p span{font-size:15px;}
.strong{font-weight:bold;}
.top-links div{margin-top:3px;}
.top-links div a{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#ff0000;font-size:20px;font-weight:400;padding:0;text-decoration:none;}
.top-links .partner{background:url(../img/partner.png) no-repeat right center;font-family:'Calibri';font-size:16px;font-style:italic;margin-left:-75px;margin-top:32px;padding:10px 200px 5px 0;}
.row-fluid:after{clear:both;}
#notification{width:1200px;margin:0 auto;}
.menu{border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;border-bottom:1px solid #c3c2c1;width:1200px;margin:-30px auto 0px auto;background-color:#fff;padding-top:10px;padding-bottom:15px;}
.menu > div{display:inline-block;vertical-align:top;font-size:14px;padding-left:75px;height:60px;background-position:10px 5px;font-family:'Trebuchet MS', Helvetica, sans-serif;padding-top:10px;}
.menu a{text-transform:uppercase;font-size:18px;display:block;color:#000;}
.menu a:hover{color:#f00;text-decoration:none;}
.menu .estimate_form{text-transform:uppercase;font-size:18px;display:block;color:#000;text-decoration:underline;cursor:pointer;}
.menu .estimate_form:hover{color:#f00;text-decoration:none;}


.menu_button_1{background:url(../img/centers.png) no-repeat;border-right:1px solid #dbdbdb;width:176px;}
.menu_button_2{background:url(../img/avtos.png) no-repeat;border-right:1px solid #dbdbdb;width:245px;background-size: 60px;}
.menu_button_3{background:url(../img/mileage.png) no-repeat;border-right:1px solid #dbdbdb;width:185px;}
.menu_button_4{background:url(../img/crash_carcase.png) no-repeat;width:235px;}


.menu li{float:left;position:relative;display:block;}
.menu li a{display:block;}
.menu ul{list-style:none;position:absolute;left:-9999px;opacity:0;-webkit-transition:0.25s linear opacity;width:auto;background:#fff;z-index:999;}
.menu ul li{padding:5px 20px;float:none;width:286px;}
.menu ul a{white-space:nowrap;display:block;}
.menu .dropdown:hover ul{left:-30px;opacity:1;top:67px;border:1px solid #dbdbdb;border-top:0;}
.menu .dropdown:hover ul a{text-decoration:none;-webkit-transition:-webkit-transform 0.075s linear;text-transform:none;}
.menu2{margin:10px 0;height:55px;}
.menu2 .menu_button:first-child{margin:0;}
.menu2 .menu_button{background:url(img/button_top.png) no-repeat;width:260px;height:65px;display:block;float:left;margin-left:49px;text-align:center;line-height:2.5;}
.menu2 .menu_button a{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:22px;font-weight:700;text-decoration:none;}
.search{border-width:2px;border-color:#292929;border-style:solid;background-color:#292929;padding:7px 23px;}
.search p{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#fefefe !important;font-size:18px;font-weight:700;text-align:left;line-height:2;margin:0;}
.search a{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#bc4642;font-size:18px;font-weight:400;text-decoration:underline;text-align:left;}
.search .in1{width:910px;height:25px;padding-left:14px;margin:0 10px 0 0;border:0;border-radius:0;}
.search .in2{width:160px;height:25px;padding-left:14px;border:0;border-radius:0;}
.media .slider{/*width:915px;*/ width: 100%; float:left;}
.media .map{text-align:center;display:inline-block;width:235px;position:relative;right:-30px;}
.media .map p{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#000000;font-size:16px;font-weight:700;text-align:center;}
.spec .container{padding:20px 0;}
#content .container{padding-top:35px;}
#content .slider{margin-top:1030px;width:875px;}
.footer{margin:10px 0 0;clear:both;}
.footer .row{width:100%;margin:0 auto;}
.footer ul{list-style:none;}
.footer .pull-right{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#000000;font-size:14px;font-weight:400;line-height:20px;text-align:left;}
.footer .pull-right span{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#000000;font-size:14px;font-weight:400;text-align:left;}
.footer .pull-right i{font-style:normal;float:right;}
.footer .buttonOnline a{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#ff0000;font-size:20px;font-weight:400;text-decoration:none;text-transform:uppercase;}
.bx-wrapper .bx-controls-direction a{height:39px;top:50%;width:45px;}
.bx-wrapper .bx-next{right:20px;background:url(/test/img/next_slide.png) no-repeat right top;}
.bx-wrapper .bx-prev{left:20px;background:url(/test/img/prev_slide.png) no-repeat;}
.bx-wrapper .bx-next:hover{right:20px;background:url(/test/img/next_slide_hover.png) no-repeat right top;}
.bx-wrapper .bx-prev:hover{left:20px;background:url(/test/img/prev_slide_hover.png) no-repeat;}
.cont_left .bx-wrapper .bx-next{right:-55px;background:url(/test/img/next_slide.png) no-repeat;}
.cont_left .bx-wrapper .bx-prev{left:-35px;background:url(/test/img/prev_slide.png) no-repeat;}
.cont_left .bx-wrapper .bx-next:hover{right:-55px;background:url(/test/img/next_slide_hover.png) no-repeat;}
.cont_left .bx-wrapper .bx-prev:hover{left:-35px;background:url(/test/img/prev_slide_hover.png) no-repeat;}
.text-center.h2{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:30px;font-weight:700;text-align:center;}
.header{margin:0 0 10px 0;}
.spec{margin:0 0 35px 0;display:none;}
.spec .h3 a{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#ffffff;font-size:20px;font-weight:700;text-align:center;line-height:48px;text-decoration:none;}
.spec .h3{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#ffffff;font-size:20px;font-weight:700;text-align:center;background-color:#292929;width:368px;height:51px;margin:0;}
.spec .spectxt{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:16px;font-weight:400;text-align:left;background:#fff;width:368px;height:81px;padding:15px 0px 15px 0;}
.spec .span4{box-shadow:5px 5px 30px -15px;}
.spec .spectxt span{margin:0 auto;width:300px;display:block;}
.pull-right{float:none;}
#content h1, .content h1, #content h2, .content h2{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:24px;text-align:justify;}
#content p, .content p{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:16px;font-weight:400;text-align:justify;}
.cont_left{float:left;width:780px;margin-right:20px;}
.cont_right{display:inline-block;width:400px;background:#f2f2f2;}
.elem_head{height:32px;font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:21px;text-align:center;width:100%;line-height:32px;}
.news{display:inline-block;}
.news .elem_head{text-align:left;}
.item_news{float:left;display:inline-block;width:350px;padding:15px;}
.item_news a{font-size:14px;}
.item_news .date, .item_news .item_news_name{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:16px;font-weight:bold;text-align:justify;text-transform:uppercase;}
.item_news p{font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:16px;font-weight:400;text-align:justify;}
a.allnews{float:right;}
.container_inner{display:inline-block;margin:18px 0;}
.ya-site-form__input-text{height:23px!important;}
.ya-site-form__submit{height:25px!important;}
.left-cell{width:260px;float:left;margin-right:20px;}
.left-cell + .right-cell, .left-cell + #content{width:920px;display:block;float:left;margin-top:15px;}
.clear{clear:both;}
#content{clear:none !important;}
.otzivi{margin-top:20px;background:#F2F2F2;}
.adv_wrap{border:1px dashed #ddd;padding:20px;margin:7px 0 25px 0;}
.adv_title{font-size:21px;text-align:center;margin-bottom:20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.adv{border:0;height:375px;font-size:14px;}
.adv_icon{width:70px;height:70px;text-align:center;}
.adv_descr{width:365px;vertical-align:middle;line-height:15px;}
.adv_descr .strong{font-weight:normal;}
.adv_link{text-align:right;}
.partF{margin-top:65px;margin-bottom:35px;}
.partF .h2{font-size:24px !important;font-family:'Trebuchet MS', Helvetica, sans-serif;}
.marks_list{font-size:20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;background:url(img/marks_shd.png) center bottom no-repeat;margin-bottom:20px;}
.marks_list_title{text-align:center;width:620px;margin:0px auto 25px auto;}
.marks_list table{height:125px;width:100%;}
.marks_list table td{background:url(img/marks_sep.png) right top no-repeat;padding-left:20px;vertical-align:top;}
.marks_list table td.last_col_marks{background:none;}
.marks_list table td p{margin:0;font-size:20px;}
.all_serv{padding:0px 0px 70px 0px;margin:0px 0px 10px 0px;}
.all_serv dt{font-size:20px;background:#e8e8e8;padding:10px;margin:30px 0px 10px 0px;font-weight:normal;}
.all_serv dt.other_serv{font-size:18px;font-weight:bold;padding:5px 0;margin:0px;background:#fff;}
.all_serv dd{font-size:16px;}
.all_serv dd.last{margin:0px 0px 30px 10px;}
.all_serv_descr{border-top:1px solid #ccc;padding-top:20px;}
.troubleshooting a{display:inline-block;text-align:center;width:195px;height:140px;text-decoration:none;margin:10px 12px;border:2px solid #fff;}
.troubleshooting a img{height:110px;}
.troubleshooting a span{display:block;margin:5px 0px;visibility:hidden;color:#909090;}
.troubleshooting a:hover{border:2px solid #909090;}
.troubleshooting a:hover span{visibility:visible;}
.troubleshootingmin a{display:inline-block;text-align:center;width:75px;height:90px;text-decoration:none;margin:10px 5px !important;border:2px solid #fff;float:left;padding:0 0px;}
.troubleshootingmin a img{height:55px;}
.troubleshootingmin a span{display:block;margin:5px 0px;color:#909090;}
.troubleshootingmin a:hover{border:2px solid #909090;}
table.prices td{text-align:center;}
table.prices tr:first-child{font-weight:bold;}
#toyota_special{width:65.95744680851064%;}
.deal-sidebar.toyota-sidebar{position:absolute;right:0;top:50px;width:285px;font-family:'Trebuchet MS', Helvetica, sans-serif;}
.deal-sidebar.toyota-sidebar a{color:#000;text-decoration:none;padding-left:10px;font-size:16px;}
.deal-sidebar.toyota-sidebar a:hover{text-decoration:underline;}
.auto_centers{display:inline-block;width:400px;}
.auto_centers a{text-decoration:none;}
.auto_centers img{width:400px;height:276px;}
#content .auto_centers p{background:#d4444e;color:#fff;line-height:26px;padding-left:5px;}
#content .auto_centers a:hover p{text-decoration:underline;}
#toTop{bottom:110px;display:none;position:fixed;right:50px;background:url('img/btn_up.png') no-repeat;cursor:pointer;width:55px;height:65px;}
#content .row-fluid .troubleshootingmin img{margin:0;}
.all_serv li{display:block;float:left;width:19%;height:220px;text-align:left;margin-left:5px;margin-bottom:20px;background:#f3f3f3;padding:2px;}
.all_serv li:hover{border:2px solid red;padding:0px;}
.all_serv li a, .all_serv li p{padding:0 5px;}
.all_serv.diag li{height:275px;}
.all_serv.tun li a{min-height:60px;}
#content .category-info p.heads{font-size:20px;background:#e8e8e8;padding:10px;margin:15px 0px 25px 0px;font-weight:normal;text-align:center;}
span.price_left{float:left;font-size:14px;}
span.price_right{float:right;color:#D52626;font-size:16px;}
ul.all_serv li p{margin:10px 0;font-size:13px !important;}
.category-info .all_serv img{display:block;width:174px !important;height:114px !important;margin:0 auto;}
.all_serv a{display:block;min-height:40px;color:#000;text-decoration:none;font-size:13px;font-weight:bold;}
.all_serv a:hover{text-decoration:underline;}
.all_serv a.aimg{min-height:114px;margin-bottom:15px !important;padding:0px;}
table.pricee{border-collapse:collapse;width:100%;margin:1em 0em;}
.pricee tr td:first-child:first-letter{text-transform:uppercase;}
table.pricee tr:first-child{font-weight:bold;}
table.pricee td{text-align:center;}
table.pricee td{border:1px solid #555;padding:3px;}
table.pricee tr:nth-child(2n) td{background:#ddd;}
.topmenu{height:35px;width:820px;}
.topmenu li a{color:#fff;text-decoration:none;font-size:16px;font-family:"Trebuchet MS";padding:0px 12px;}
.fixed_menu li a{color:#fff;text-decoration:none;font-size:15px;font-family:"Trebuchet MS";padding:0 18px;}
@-moz-document url-prefix(){.topmenu li a{color:#fff;text-decoration:none;font-size:15px;font-family:"Trebuchet MS";padding:0px 8px;}
.fixed_menu li a{color:#fff;text-decoration:none;font-size:14px;font-family:"Trebuchet MS";padding:0px 20px;}
}
@font-face{font-family:"ToyotaDisplay_0";src:url("../fonts/ToyotaDisplay_0.ttf") format("truetype");}
@font-face{font-family:"ToyotaDisplay_Rg_0";src:url("../css/fonts/ToyotaDisplay_Rg.ttf") format("truetype");}
.new_footer .row.footer_blc{background:#F2F3F3;border-bottom:2px solid black;}
.footer_blc .collum{display:block;float:left;width:23%;margin-top:10px;margin-left:10px;}
.footer_blc .collum.float_right{float:right;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;width:250px;margin-right:20px;}
.footer_blc .collum .head_line{font-size:21px;font-family:"ToyotaDisplay_Rg_0";}
.link ul{list-style:none;margin-left:0px;margin-top:20px;}
.link ul li a{font-family:"ToyotaDisplay_Rg_0";color:#000;font-size:16px;}
.link ul li a:hover{text-decoration:none;}
.footer_blc .phone_footer.i1{margin-bottom:10px;}
.new_footer .footer_blc .fk-btn{margin-bottom:20px;margin-top:0px;margin-left:0px;width:100%;background-position-x:30px;}
.new_footer .footer_blc .ord_prof_btn{margin:5px 0px 0px 0px;padding-left:48px;width:200px;}
.new_footer .footer_blc .phone_footer.i1-2{font-size:21px;text-align:right;margin-top:5px;}
.soc_link div{float:left;}
.float_right .link ul li a{font-size:14px;}
.footer_blc .link ul li{padding:1px 0px;}
.float_right .soc_btn{font-size:16px;padding-left:30px;margin-top:15px;}
.botlogo{margin:15px 0px;}
.logor{float:left;margin-right:25px;}
.new_footer .botlogo .footer_text{max-width:100%;}
.mobili_top{display:none;}
@media screen and (max-width:1070px){.new_footer .collum{width:20%;}
}
@media screen and (max-width:800px){.new_footer .collum{float:left;width:30%;}
.footer_blc .collum.float_right{}
.new_footer .row.footer_blc{display:flex;justify-content:center;}
.logor{float:none;margin-right:0;text-align:center;}
.new_footer .botlogo .footer_text{max-width:100%;text-align:center;}
}
@media screen and (max-width:620px){.new_footer .row.footer_blc{display:flex;justify-content:center;flex-direction:column;}
.new_footer .collum{float:left;width:48%;margin:5px auto;}
.footer_blc .collum.float_right{display:none;}
.mobili_top{display:block;border-bottom:1px solid gray;padding-bottom:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;}
.mobili_top .phone_footer.i1-2 span{font-size:27px;}
.bot_mob{width:275px;margin:0 auto;}
.mobili_top .phone_footer.i1-2 a{color:#000;text-decoration:none;padding-bottom:5px;display:block;}
.new_footer .footer_blc .mobili_top .fk-btn{margin-left:0px;width:200px;background-position-x:0px;margin:10px auto;font-size:17px;background-position-y:1px;padding-left:20px;}
.new_footer .footer_blc .mobili_top .ord_prof_btn{padding-left:48px;width:200px;margin:0 auto;}
.mobili_top .link, .mobili_top .soc_btn{float:left;}
.mobili_top .link, .mobili_top .soc{float:left;}
.mobili_top .link{margin-right:15%;}
.soc a{margin-left:10px;}
p.head_line{margin-bottom:6px;font-size:16px;font-weight:bold;margin-top:10px;}
.new_footer .footer_blc .mobili_top .phone_footer.i1-2{font-size:21px;text-align:center;margin-top:5px;}
.mobili_top .phone_footer.i1{text-align:center;}
}
.pricee tr:hover td, .prices tr:hover td{background:#f3f3f3!important;}
.tabs_container{padding:0px;text-align:center;}
.tabs_container div.tabs{padding:20px;box-sizing:border-box;min-width:300px;max-width:100%;width:25%;text-align:left;display:inline-block;vertical-align:top;border-radius:2px;background-color:#EEEEEE;}
.tabs_container .tab_container{text-align:left;display:inline-block;vertical-align:top;min-width:300px;width:55%;display:none;float:left;}
.tabs_container .head, .tabs_container .head_table{font-weight:bold;color:#444;font-size:18px;margin-bottom:20px;text-align:center;}
.tabs_container .head_table{text-align:left;}
.tabs_container .tabs{margin:0 !important;}
.tabs_container .tab_container table{width:100%;}
.tabs_container .tab_container table tr{border-top:1px solid #ddd;}
.tabs_container .tab_container table tr td{padding:4px 0px;font-size:15px;}
.tabs_container .tab_container table tr td a:hover{cursor:pointer}
.tabs p.tbs_inp{margin-bottom:6px;cursor:pointer;}
.tabs p.tbs_inp.active{font-weight:bold !important;}
.tabs p.tbs_inp input.inl-bl{margin-right:5px;margin-bottom:5px;}
.tbl_tabs_clr table tr:hover td{color:#000;font-weight:bold;background:#b0a7a7!important;}
.tab_container table td{border:1px solid #555;padding-left:4px !important;}
.tab_container table tr:nth-child(2n) td{background:#DDDDDD;}
.tab_container table tr td:nth-child(1){width:65%;}
.info_img{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin:0px 0px 25px 0px;text-align:center;}
.info_img span{display:block;margin-top:115px;margin-bottom:10px;font-family:'Trebuchet MS', Helvetica, sans-serif;color:#292929;font-size:14px;font-weight:400;}
.info_img .col1{background:url(/image/info/2.png);background-repeat:no-repeat;background-position:center 20px;width:265px;padding:0 10px;}
.info_img .col2{background:url(/image/info/3.png);background-repeat:no-repeat;background-position:center 20px;border-right:1px dashed gray;border-left:1px dashed gray;width:265px;padding:0 20px;}
.info_img .col3{background:url(/image/info/1.png);background-repeat:no-repeat;background-position:center 20px;width:265px;padding:0 20px;}

#response-sel{
	display: none;
}
.usl-m{
	display: none;
}
.usl-d{
	display: flex;
	flex-wrap: wrap;
    justify-content: left;
}
.usl-d .item{
	width: 210px;
    margin: 0 10px 20px 10px;
}
.usl-d .item:hover {
    outline: 2px solid red;
    padding: 0px;
}
.usl-d .item .img{
	height: 133px;
	overflow: hidden;
}

.usl-d .item .info{
	background: #F3F3F3;
}
.usl-d .item .info .name{
	font-weight: bold;
	text-align: left;
	padding: 10px 15px;
	height: 30px;
	display: flex;
	align-items: center;
}

.pr span{
	color: red;
}
.bt button:hover
{
	background: #FE2C33;
}
.bt button{
	font-size: 12px;
	height: 20px;
    line-height: 0px;
    background: #D90C13;
    color: #fff;
    border: none;
}
.price_act{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;	
}

@media screen and (min-width:1366px){
	.flex{
		display: flex;
		flex-direction: column;
	}
	.one{
		order: -1;
	}
	.two{
		order: -1;
	}

}

@media screen and (max-width:1366px){
	/* .usl-m{
		display: block;
	}
		.usl-d{
		display: none;
	} */
}

@media screen and (max-width:768px){

	.tabs_container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.tab_container{
		order: 3;
	}
	.head_table{
		order: 0;
	}
	.tabs_container .tabs{
		order: 1;
		margin-bottom: 10px!important;
	}
	#response-sel{
		display: block;
		width: 100%;
	}

	.desctop{
		display: none;
	}

}

#form_ord_rep input.pdbor{
	width: 15px;
	text-align: left;
	margin-top: 0px;
}
span.pdb{
	width: 420px;
	text-align: left;
	display: block;
	margin: 0 auto 20px auto;
}
span.pdb span{
	font-family: Arial;
	display: inline-block;
	margin-left: 10px;
}
.vinn{
	display: none;
}



.advantage-container{font-size:0;margin:15px 0;}
.advantage-block{width:33.33%;font-size:14px;text-align:center;margin-bottom:15px;display:inline-block;vertical-align:top;}
.advantage-image-block{margin-bottom:10px;}
.advantage-image-block img {height: 60px;}
.advantage-text-block {
    padding: 0 30px;
}
@media (max-width: 550px) {
 .advantage-block{width:100%;}
 .advantage-text-block {padding: 0 30px;}
}