*
    box-sizing: border-box

html, body
    position: relative
    color: #000000
    overflow-x: hidden
    font-family: 'Gilroy', Arial, sans-serif
    font-size: 16px
    line-height: 1.7
    margin: 0
    padding: 0

ul
    padding: 0

a
    color: #000000
    text-decoration: none
    transition: all .5s ease-in

a:hover,
a:focus
    text-decoration: none
    color: $gray