.drop {
    width: 177px;
    height: 161px;
    background: url(../../img/content/specpredlozhnie/drop.png) 0 0 no-repeat;
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    margin: auto;
}
.slider-content p {
    color: #000;
}

.tab-block {
    margin-top: 100px;
}
.name-tabs {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    float: left;
    margin-right: 60px;
}
.nav-tabs li.active {
    border-bottom: 2px solid #dd0012;
}
.nav-tabs li {
    margin-right: 30px;
}
.nav-tabs li a {
    font-size: 16px;
    color: #dd0012;
    text-transform: none;
    background: none;
    transform: none;
    padding: 0 5px;
    border: none;
}
.nav-tabs > li.active > a {
    background: none;
    color: #333333;
    border: none;
}
.nav-tabs > li > a:active:focus, .nav-tabs > li > a:active:focus {border: none;}

.nav-tabs li a:hover, .nav-tabs li a:focus {
    background: none;
    color: #333333;
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
}
.nav-tabs {
    border-bottom: none;
}


.link-tab {
    padding-bottom: 35px;
    margin: 15px;
    background: #f2f2f2;
    transition: 0.6s linear;
}
.link-tab:hover {
    padding: 0 15px 35px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 27px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 27px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 27px 5px rgba(0,0,0,0.15);
}
.link-tab:hover p {
    color: #dd0012;
    text-decoration: underline;
    transition: 0.6s linear;
}
.link-tab img {
    display: block;
    margin: 0 auto;
    height: 130px;
}
.link-tab p {
    font-size: 24px;
    color: #000;
    text-align: center;
    height: 160px;
    display: table;
    width: 100%;
}
.link-tab p span {
    display: table-cell;
    vertical-align: middle;
}
.nav-tabs {
    margin-bottom: 50px;
}

.link-tab .btn {
    padding: 10px 0;
    width: 70%;
    font-size: 14px;
    margin: 0 auto 15px;
    display: block;
}
.link-tab .btn-gray {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #d7d7d7;
}
.link-tab .btn-gray:hover {
    background: #cbc9c9;
}

.btn-gray::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    width: 60%;
    z-index: -1;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: #cbc9c9;
}

.content-tab-block {
    margin-bottom: 100px;
}





@media (max-width:991px){
    .nav-tabs li {margin-right: 10px;}
    .name-tabs {margin-right: 35px;}
}

@media (max-width:767px){
    .tab-content {display: table; margin: 0 auto;}
    .name-tabs {margin-right: 0; margin-bottom: 10px; float: none; text-align: center;}
    .nav-tabs li {float: none; display: table; margin: 0 auto;}
}














.tab-content





